@import "../Helpers/Shared";

.product {
    display: flex;
    flex-direction: column;
    background-color: $bg-colour;

    .image-particulars-wrap {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $secondary;
        
        img {
            max-width: 300px;
            order: 1;
        }

        .product-particulars {
            .add-to-basket-wrapper {
                display: flex;

                .add-to-basket {
                    margin-left: 1rem;
                }
            }
        }
    }

    .product-extras-wrap {
        padding: 1rem;
        margin-bottom: 1rem;
    }
    
}