@import "../Helpers/Shared";

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow;
    height: 150px;

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $lg;
        border: 1px solid $red;
        
        .logo-wrapper {

            img {
                max-height: 100px;
                width: auto;
            }
        }
    }
}
