@import "../Helpers/Shared";

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    height: 100px;
    box-shadow: $shadow-bottom;

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $max-width;
        
        .logo-wrapper {

            img {
                max-height: 100px;
                width: auto;
            }
        }
    }
}
