@import "src/components/Helpers/shared.scss";

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 100px;

    .footer-inner {
        max-width: $lg;
        padding: 1rem;
        border: 1px solid red;

        h3 {
            color: red;
        }
    }
}

