@import "src/components/Helpers/shared.scss";

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    height: 80px;
    box-shadow: $shadow-top;

    .footer-inner {
        max-width: $max-width;
        padding: 1rem;
        
        h3 {
            color: $secondary;
        }
    }
}

